
.blog-post {
  text-align: left;
  padding: 25px 0;
  border-bottom: 1px solid #efefef
}

.post-link {
  text-decoration: none;
  color: #10cdc1;
}

.post_title {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 1.2rem;
  color: #9a9a9a;
}
