.post-header {
  margin-top: 30px;
}
.post-title {
  font-size: 3rem;
  margin-bottom: 10px;
}
.post-content {
  margin-top: 20px;
  font-size: 1.8rem;

  p {
    font: 2rem/1.56 'PT Serif',Helvetica,Arial,Geneva,sans-serif;
    padding: 10px 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  pre.highlight {
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 4px;
    background: rgba(220, 220, 220, 0.2);
    overflow: auto;

    code span {
      padding: 3px 0;
      display: inline-block;
    }
  }
}
