*,
:before,
:after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 110%/1.8 monospace;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow: hidden-x;
    text-align: center;
}

body {
    color: rgba(0, 0, 0, 0.54)
}

a {
    cursor: pointer;
    color: #10CDC1;
}

.info a {
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    font-size: 15px;
}

.projects a {
    color: rgba(0, 0, 0, 0.54);
}

.info a:hover,
.projects a:hover {
    color: #10CDC1;
    /*color: #FF4081;*/
}

.container {
    width: 380px;
    margin: 20px auto;
    text-align: center;
}

.projects div {
    padding: 5px;
}

.name div,
.name h3 {
    margin: 0 auto;
    cursor: default;
    font-weight: 400;
}

.name div {
    font-size: 50px;
    display: inline-block;
}

.name h3 {
    font-size: 20px;
}

.name {
    margin: 30px 0;
}

.container--meta {
    padding: 20px;
}

.list-item {
    margin: 10px 0;
}

.contacts {
    margin-top: 30px;
}

.highlight {
    font-weight: bold;
}

.icons a {
    margin: 0 10px;
}

.twitter:hover {
    color: #2884A2;
}

.linkedin:hover {
    color: #1D87BD;
}

.github:hover {
    color: #333;
}

.gmail:hover {
    color: #E24A3F;
}

.logo {
    background: url('../img/jk.png');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

[role="tabpanel"] {
    transition: none;
}

.fade.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}